menu "Bluetooth Visual Speaker"

menu "Bluetooth Configuration"
config BT_NAME
    string "Bluetooth Name"
    default "Bluetooth Visual Speaker"
    help
        Bluetooth name exposed by the device.

config ENABLE_BLE_CONTROL_IF
    bool "Enable BLE Control Interface"
    default n
    help
        Select this to enable BLE OTA and RC features.
endmenu

menu "Audio Configuration"
menuconfig ENABLE_AUDIO_PROMPT
    bool "Enable Audio Prompt"
    default y
    help
        Select this to enable Audio Prompt.

config AUDIO_PROMPT_CONNECTED
    bool "Connected"
    default y
    depends on ENABLE_AUDIO_PROMPT

config AUDIO_PROMPT_DISCONNECTED
    bool "Disconnected"
    default y
    depends on ENABLE_AUDIO_PROMPT

config AUDIO_PROMPT_SLEEP
    bool "Sleep"
    default y
    depends on ENABLE_AUDIO_PROMPT && ENABLE_SLEEP_KEY

config AUDIO_PROMPT_WAKEUP
    bool "Wake-Up"
    default y
    depends on ENABLE_AUDIO_PROMPT && ENABLE_SLEEP_KEY

choice AUDIO_OUTPUT
    prompt "Audio Output"
    default AUDIO_OUTPUT_I2S1
    help
        Select Audio Output Interface.

    config AUDIO_OUTPUT_I2S0
        bool "I2S-0"
        depends on !AUDIO_INPUT_PDM
    config AUDIO_OUTPUT_I2S1
        bool "I2S-1"
endchoice

config AUDIO_OUTPUT_I2S_NUM
    int
    default 0 if AUDIO_OUTPUT_I2S0
    default 1 if AUDIO_OUTPUT_I2S1

choice AUDIO_INPUT
    prompt "Audio Input"
    default AUDIO_INPUT_NONE
    help
        Select Audio Input Interface.

    config AUDIO_INPUT_NONE
        bool "None"
    config AUDIO_INPUT_PDM
        bool "PDM"
    config AUDIO_INPUT_I2S0
        bool "I2S-0"
    config AUDIO_INPUT_I2S1
        bool "I2S-1"
endchoice

config AUDIO_INPUT_I2S_NUM
    int
    default 0 if AUDIO_INPUT_I2S0 || AUDIO_INPUT_PDM
    default 1 if AUDIO_INPUT_I2S1
    default 2 if AUDIO_INPUT_NONE

config I2S0_BCLK_PIN
    int "I2S-0 BCLK Pin"
    default 12
    depends on AUDIO_OUTPUT_I2S0 || AUDIO_INPUT_I2S0

config I2S0_LRCK_PIN
    int "I2S-0 LRCK Pin"
    default 15
    depends on AUDIO_OUTPUT_I2S0 || AUDIO_INPUT_I2S0

config I2S0_DOUT_PIN
    int "I2S-0 DOUT Pin"
    default 19
    depends on AUDIO_OUTPUT_I2S0

config I2S0_DIN_PIN
    int "I2S-0 DIN Pin"
    default 13
    depends on AUDIO_INPUT_I2S0

config I2S1_BCLK_PIN
    int "I2S-1 BCLK Pin"
    default 22
    depends on AUDIO_OUTPUT_I2S1 || AUDIO_INPUT_I2S1

config I2S1_LRCK_PIN
    int "I2S-1 LRCK Pin"
    default 21
    depends on AUDIO_OUTPUT_I2S1 || AUDIO_INPUT_I2S1

config I2S1_DOUT_PIN
    int "I2S-1 DOUT Pin"
    default 19
    depends on AUDIO_OUTPUT_I2S1

config I2S1_DIN_PIN
    int "I2S-1 DIN Pin"
    default 13
    depends on AUDIO_INPUT_I2S1

config PDM_CLK_PIN
    int "PDM CLK Pin"
    default 13
    depends on AUDIO_INPUT_PDM

config PDM_DIN_PIN
    int "PDM DIN Pin"
    default 15
    depends on AUDIO_INPUT_PDM
endmenu

menu "VFX Configuration"
config ENABLE_VFX
    bool "Enable Visual Effects Output"
    default n
    help
        Select this to enable Visual Effects Output.

choice AUDIO_INPUT_FFT_CHANNEL
    prompt "Audio Input FFT Channel"
    default AUDIO_INPUT_FFT_ONLY_LEFT
    depends on ENABLE_VFX && !AUDIO_INPUT_NONE
    help
        Select Audio Input FFT Channel.

config AUDIO_INPUT_FFT_ONLY_LEFT
    bool "Left Channel"
config AUDIO_INPUT_FFT_ONLY_RIGHT
    bool "Right Channel"
config AUDIO_INPUT_FFT_BOTH
    bool "Both Channel"
endchoice

choice BT_AUDIO_FFT_CHANNEL
    prompt "Bluetooth Audio FFT Channel"
    default BT_AUDIO_FFT_BOTH
    depends on ENABLE_VFX
    help
        Select Bluetooth Audio FFT Channel.

config BT_AUDIO_FFT_ONLY_LEFT
    bool "Left Channel"
config BT_AUDIO_FFT_ONLY_RIGHT
    bool "Right Channel"
config BT_AUDIO_FFT_BOTH
    bool "Both Channel"
endchoice

choice VFX_OUTPUT
    prompt "VFX Output Device"
    default VFX_OUTPUT_CUBE0414
    depends on ENABLE_VFX
    help
        Select which device to output VFX.

config VFX_OUTPUT_WS2812
    bool "WS2812 8x8 LED Panel"
config VFX_OUTPUT_ST7735
    bool "ST7735 80x160 LCD Panel"
config VFX_OUTPUT_ST7789
    bool "ST7789 135x240 LCD Panel"
config VFX_OUTPUT_CUBE0414
    bool "CUBE0414 8x8x8 Music Light Cube"
endchoice

choice LCD_ORIENTATION
    prompt "LCD Orientation"
    default LCD_ORIENTATION_NORMAL
    depends on ENABLE_VFX && !VFX_OUTPUT_WS2812 && !VFX_OUTPUT_CUBE0414
    help
        Select LCD orientation.

config LCD_ORIENTATION_NORMAL
    bool "Normal"
config LCD_ORIENTATION_UPSIDE_DOWN
    bool "Upside Down"
endchoice

config LCD_ROTATION_DEGREE
    int
    default  90 if LCD_ORIENTATION_NORMAL
    default 270 if LCD_ORIENTATION_UPSIDE_DOWN

choice LED_COLOR_ORDER
    prompt "LED Color Order"
    default LED_COLOR_ORDER_RGB
    depends on ENABLE_VFX && (VFX_OUTPUT_WS2812 || VFX_OUTPUT_CUBE0414)
    help
        Select LED color order.

config LED_COLOR_ORDER_RGB
    bool "R-G-B"
config LED_COLOR_ORDER_GRB
    bool "G-R-B"
endchoice

choice LED_LAYER_DIR
    prompt "LED Layer Direction"
    default LED_LAYER_DIR_XYZ
    depends on ENABLE_VFX && (VFX_OUTPUT_WS2812 || VFX_OUTPUT_CUBE0414)
    help
        Select LED layer direction.

config LED_LAYER_DIR_XYZ
    bool "X-Y-Z"
config LED_LAYER_DIR_XZY
    bool "X-Z-Y"
config LED_LAYER_DIR_YXZ
    bool "Y-X-Z"
config LED_LAYER_DIR_YZX
    bool "Y-Z-X"
config LED_LAYER_DIR_ZXY
    bool "Z-X-Y"
config LED_LAYER_DIR_ZYX
    bool "Z-Y-X"
endchoice

config LED_LAYER_INV_X
    bool "LED Layer X-Inverted"
    default n
    depends on ENABLE_VFX && (VFX_OUTPUT_WS2812 || VFX_OUTPUT_CUBE0414)

config LED_LAYER_INV_Y
    bool "LED Layer Y-Inverted"
    default n
    depends on ENABLE_VFX && (VFX_OUTPUT_WS2812 || VFX_OUTPUT_CUBE0414)

config LED_LAYER_INV_Z
    bool "LED Layer Z-Inverted"
    default n
    depends on ENABLE_VFX && (VFX_OUTPUT_WS2812 || VFX_OUTPUT_CUBE0414)

choice CUBE0414_REVISION
    prompt "CUBE0414 Revision"
    default CUBE0414_REV_3
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414
    help
        Select CUBE0414 revision.

config CUBE0414_REV_2
    bool "Rev 2"
config CUBE0414_REV_3
    bool "Rev 3"
endchoice

choice CUBE0414_LINE_TYPE
    prompt "CUBE0414 Line Type"
    default CUBE0414_LINE_S_CURVE
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414
    help
        Select CUBE0414 line type.

config CUBE0414_LINE_NORMAL
    bool "Normal"
config CUBE0414_LINE_S_CURVE
    bool "S Curve"
endchoice

comment "Limit: T0H + T0L <= 257"
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414 && CUBE0414_REV_3

config CUBE0414_LED_T0H
    int "CUBE0414 LED T0H Time (10 ns)"
    default 35
    range 1 255
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414 && CUBE0414_REV_3

config CUBE0414_LED_T0L
    int "CUBE0414 LED T0L Time (10 ns)"
    default 136
    range 1 255
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414 && CUBE0414_REV_3

comment "Limit: T1H + T1L <= 257"
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414 && CUBE0414_REV_3

config CUBE0414_LED_T1H
    int "CUBE0414 LED T1H Time (10 ns)"
    default 136
    range 1 255
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414 && CUBE0414_REV_3

config CUBE0414_LED_T1L
    int "CUBE0414 LED T1L Time (10 ns)"
    default 35
    range 1 255
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414 && CUBE0414_REV_3

config WS2812_DIN_PIN
    int "WS2812 DIN Pin"
    default 18
    depends on ENABLE_VFX && VFX_OUTPUT_WS2812

config DEV_RST_PIN
    int "DEV RST Pin"
    default 14
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414 && CUBE0414_REV_3

config DEV_DC_PIN
    int "DEV DC Pin"
    default 23
    depends on ENABLE_VFX && VFX_OUTPUT_CUBE0414

config LCD_RST_PIN
    int "LCD RST Pin"
    default 14
    depends on ENABLE_VFX && !VFX_OUTPUT_WS2812 && !VFX_OUTPUT_CUBE0414

config LCD_DC_PIN
    int "LCD DC Pin"
    default 23
    depends on ENABLE_VFX && !VFX_OUTPUT_WS2812 && !VFX_OUTPUT_CUBE0414

config LCD_BL_PIN
    int "LCD BL Pin"
    default 4
    depends on ENABLE_VFX && !VFX_OUTPUT_WS2812 && !VFX_OUTPUT_CUBE0414

config SPI_SCLK_PIN
    int "SPI SCLK Pin"
    default 5
    depends on ENABLE_VFX && !VFX_OUTPUT_WS2812

config SPI_MOSI_PIN
    int "SPI MOSI Pin"
    default 18
    depends on ENABLE_VFX && !VFX_OUTPUT_WS2812

config SPI_CS_PIN
    int "SPI CS Pin"
    default 27
    depends on ENABLE_VFX && !VFX_OUTPUT_WS2812
endmenu

menu "LED Configuration"
config ENABLE_LED
    bool "Enable LED"
    default n
    help
        Select this to enable LED Output.

choice LED_ACTIVE_LEVEL
    prompt "LED Active Level"
    default LED_ACTIVE_HIGH
    depends on ENABLE_LED
    help
        Select LED Active Level.

config LED_ACTIVE_HIGH
    bool "Active High"
config LED_ACTIVE_LOW
    bool "Active Low"
endchoice

config LED_PIN
    int "LED Pin"
    default 25
    depends on ENABLE_LED
endmenu

menu "Key Configuration"
config ENABLE_SLEEP_KEY
    bool "Enable Sleep Key"
    default n
    help
        Select this to enable Sleep Key.

config SLEEP_KEY_HOLD_TIME
    int "Sleep Key Hold Time (ms)"
    default 50
    depends on ENABLE_SLEEP_KEY

choice SLEEP_KEY_ACTIVE_LEVEL
    prompt "Sleep Key Active Level"
    default SLEEP_KEY_ACTIVE_LOW
    depends on ENABLE_SLEEP_KEY
    help
        Select Sleep Key Active Level.

config SLEEP_KEY_ACTIVE_HIGH
    bool "Active High"
config SLEEP_KEY_ACTIVE_LOW
    bool "Active Low"
endchoice

config SLEEP_KEY_PIN
    int "Sleep Key Pin"
    default 0
    depends on ENABLE_SLEEP_KEY
endmenu

endmenu
